<!DOCTYPE html>
<html lang="en">
<base href="/">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, severny admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, pixel  design, pixel  dashboard bootstrap 4 dashboard template">
    <meta name="description"
        content="Pixel Admin is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Daily Pulse:</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/pixel-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/logos/pixel-favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="public_user_homepage/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="public_user_homepage/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="public_user_homepage/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="public_user_homepage/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="public_user_homepage/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <%- include('../public/partials/user_nav', {name :`${user_first_name}`}); %>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li style="padding: 10px 0 0;">
                        <a href="user_homepage" class="waves-effect"><i class="fa fa-clock-o fa-fw"
                                aria-hidden="true"></i><span class="hide-menu">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="profile" class="waves-effect"><i class="fa fa-user fa-fw"
                                aria-hidden="true"></i><span class="hide-menu">Profile</span></a>
                    </li>
                    <li>
                        <a href="my_dogs" class="waves-effect"><i class="fa fa-table fa-fw"
                                aria-hidden="true"></i><span class="hide-menu">My Dogs</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Daily Pulse</h4>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <% if(curr_dog!=null) { %>
                    <div id="pulse_daily_hid" style="visibility: hidden;"><%= pulse_daily %></div>	
                    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
                    <ul>
						<li id = 'Sun_sick'></li>
						<li id = 'Mon_sick'></li>
						<li id = 'Tue_sick'></li>
						<li id = 'Wed_sick'></li>
						<li id = 'Thu_sick'></li>
						<li id = 'Fri_sick'></li>
						<li id = 'Sat_sick'></li>
					</ul>					  
					<canvas id="barChart"></canvas>
                    <script>
                    //bar
					var dog_data = (document.getElementById("pulse_daily_hid").innerHTML).split(',').map(Number)
					var days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri","Sat"]
					for (let i = 0; i < dog_data.length; i++) {
						var is_sick_msg = "According to the dog's pluse data it seems that the dog is NOT sick"
						if (dog_data[i] < 60 || dog_data[i] > 120){
							is_sick_msg = "According to the dog's pluse data it seems that the dog needs to go see a veterinarian"
						} 
						document.getElementById(days[i] + '_sick').innerHTML = days[i] + ': ' + is_sick_msg
					}  
                    var ctxB = document.getElementById("barChart").getContext('2d');
                    var myBarChart = new Chart(ctxB, {
                    type: 'bar',
                    data: {
                        labels: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri","Sat"],
                        datasets: [{
                        label: "Pulse (pulse/sec)",
                        data: (document.getElementById("pulse_daily_hid").innerHTML).split(',').map(Number),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                        yAxes: [{
                            ticks: {
                            beginAtZero: true
                            }
                        }]
                        }
                    }
                    });

                    </script>
                
                <% } %>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="public_user_homepage/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="public_user_homepage/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="public_user_homepage/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="public_user_homepage/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="public_user_homepage/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="public_user_homepage/js/custom.min.js"></script>
	
</body>

</html>