<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top m-b-0">
	<div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg "
			href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i
				class="fa fa-bars"></i></a>
		<div class="top-left-part"><a class="logo" href="user_homepage"><b><img
						src="public_user_homepage/plugins/images/pixeladmin-logo.png" alt="home" /></b><span
					class="hidden-xs"><img src="public_user_homepage/plugins/images/pixeladmin-text.png" alt="home" /></span></a>
		</div>
		<ul class="nav navbar-top-links navbar-left m-l-20 hidden-xs">
		</ul>
		<form id="myform" action="logout" method="post">
			<ul class="nav navbar-top-links navbar-right pull-right">
				<li>
					<a class="profile-pic" onclick="document.getElementById('myform').submit()"> <b class="hidden-xs">Logout</b> </a>
				</li>
			</ul>
		</form>
		
		<ul class="nav navbar-top-links navbar-right pull-right">
			<li>
				<a class="profile-pic" href="profile"> <b class="hidden-xs">Hello <%= name %>!</b> </a>
			</li>
		</ul>
		
	</div>
	<!-- /.navbar-header -->
	<!-- /.navbar-top-links -->
	<!-- /.navbar-static-side -->
</nav>